<%= form_for(@league) do |f| %>
  <div class="field">
  	<div class="form-group">
    	<%= f.text_field :name, placeholder: "Name that shit...", class: :"form-control" %>
  	</div>
  </div>
  <%= f.submit "Create League", class: "btn btn-default btn-block" %>
<% end %>