<%= form_for @comment, url: new_comment_path, method: "post" do |f| %>
  <div class="field">
  	<div class="form-group">
    	<%= f.text_area :content, placeholder: "Compose new comment...", class: :"form-control" %>
  	</div>
  </div>
  <%= f.submit "Submit", class: "btn btn-default btn-block" %>
<% end %>