<%= form_for post.comments.build, url: "posts/#{post.id}/comments/new", method: "post" do |f| %>
  	<div class="input-group">
    	<%= f.text_field :content, placeholder: "Compose new comment...", class: :"form-control", type: :"text" %>
    	<span class="input-group-btn">
    		<%= f.submit "Submit", class: "btn btn-default" %>
    	</span>
    </div>
<% end %>
