<div class="row clearfix">
  <% @group.members.each do |member| %>
  	<div class="col-xs-3 col-md-3">
  		<%= link_to image_tag(member.image_link.thumb), member, class: :"thumbnail player-image" %>
  		<div class="caption small player-name"><%= member.first_name %></div>
  	</div>
  <% end %>
</div>