<li id="group-<%= group.id %>">
	<span class="group_title"><%= group.title %></span>
	<small class="timestamp"> – Created <%= time_ago_in_words(group.created_at) %> ago.
		<% if session[:user_id] == group.owner_id %>
			<%= link_to "(delete)", group, method: :delete, data: { confirm: "You sure?" } %>
		<% end %>
	</small>
</li>