<li id="group-<%= group.id %>">
	<%= link_to group.title, group, class: :"group_title" %>
	<small class="timestamp"> – Created <%= time_ago_in_words(group.created_at) %> ago.
		<% if current_user.id == group.owner_id %>
			<%= link_to "(delete)", group, method: :delete, data: { confirm: "You sure?" } %>
		<% end %>
	</small>
</li>