<%= form_for @group do |f| %>
<div class="form-group">
	<%= f.text_area :title, placeholder: "Name that shit...", class: :"form-control" %>
</div>

	<%= f.submit "Create Group", class: :"btn btn-default" %>
<% end %>
