<% if @picks.any? %>
	<% @picks.each do |pick| %>
		<% @contestant = Contestant.find(pick.contestant_id) %>
		<div class="col-xs-3 col-md-3">
			<%= link_to image_tag(@contestant.image), @contestant, class: :"thumbnail player-image" %>
			<div class="caption small player-name"><%= @contestant.name %></div>
		</div>
	<% end %>
<% else %>
	<%= link_to "Make Your Picks", new_picks_path, class: :"btn btn-default btn-block" %>
<% end %>
