<div class="col-sm-12 col-md-12">
      <%= link_to "New Post", new_post_path, class: :"btn btn-success btn-block", role: :"button", remote: :true, id: :"new-button" %>
      <div id="new-post">
        <!-- This is where the post input will appear -->
      </div>
  </div>