<%= render layout: 'tabs' do %>
	<ol>
		<% @group.memberships.each do |member| %>
			<li>
				<%= User.find(member.user_id).first_name %>: <%= member.score %> <%= "- Picks are in!" if member.made_all_picks? %>
			</li>
		<% end %>
	</ol>
<% end %>