<div class="well">
  <%= form_for @new_chat, url: group_chat_path, method: "post", remote: true do |f| %>
    <div class="form-group">
      <%= f.label :body, 'Enter your comment:' %>
      <%= f.text_field :body, rows: 3, class: 'form-control', required: true, maxlength: 200 %>
      <small class="label label-warning">Cannot be blank or contain more than 200 characters.</small>
    </div>

    <%= f.submit 'Post', class: 'btn btn-primary btn-lg', id: 'post-button' %>
  <% end %>
</div>