<div class="page-header">
	<h1>What is <%=image_tag("http://imgur.com/46wU0FT.png") %>?</h1>
</div>
<p class="lead">
Popply is a place to turn watching your favorite reality TV or award shows into a competition. 
</p>
<p>
	Create a group. Pick your show or event. Build your bracket. Invite your friends and see them driven before you.
</p>