<%= form_tag new_picks_path, method: "post" %>
<div class="form-group">
	<small>week:</small>
	<%= number_field_tag :week, class: :"form-control" %>
</div>
<div class="form-group">
	<small>contestant id:</small>
	<%= number_field_tag :contestant_id, class: :"form-control" %>
</div>
<%= submit_tag "Create Group", class: :"btn btn-default" %>
