<% if @posts.any? %>
	<% @posts.each do |post| %>
		<ol class="posts">
			<li>
				<p>
					<%= post.content %>
				</p>
				<small class="byline">
					Written by <%= User.find(Membership.find(post.membership_id).user_id).first_name %> - <%= time_ago_in_words(post.created_at) %> ago. 
						<% if (current_user.id == Membership.find(post.membership_id).user_id) || (current_user.id == @group.owner_id) %>
							<%= link_to "(delete)", post, method: :delete, data: { confirm: "You sure?" } %>
						<% end %>
				</small>
			</li>
		</ol>
	<% end %>
<% end %>
