<%= form_for(@post) do |f| %>
  <div class="field">
  	<div class="form-group">
    	<%= f.text_area :content, placeholder: "Compose new diatribe...", class: :"form-control" %>
  	</div>
  </div>
  <%= f.submit "Post", class: "btn btn-default btn-block" %>
<% end %>
