<h1>Edit Post</h1>
<%= form_for @post do |f| %>
<div class="form-group">
	<%= f.text_area :content, class: :"form-control" %>
</div>

	<%= f.submit "Update", class: :"btn", method: "patch" %>
<% end %>
