// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.chat-avatar {
	max-width: 60px;
}

#comments {
  max-height: 500px;
  overflow: auto;
}

.twitter-icon {
	visibility: hidden;
}

.chat:hover .twitter-icon {
	visibility: visible;
}
