// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.posts {
  list-style: none;
  padding: 10px 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #e8e8e8;
    display: block;
    margin-left: 60px;
  }
}

#new-post {
  padding-top: 10px;
}